#projects-tab{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


#projects-tab thead tr{
    font-size:1.2em;
    font-weight: bold;
    text-align: left;
    color:#FFF;
    background-color: #343334;
}

#projects-tab th, #projects-tab td{
    padding: 12px 15px;
}

#projects-tab tbody tr{
    border-bottom: 1px solid #dddddd;
}

#projects-tab tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#projects-tab tbody tr:last-of-type {
    border-bottom: 2px solid #343334;
}

/*Styles pour les boutons*/

.modify-inlist{
    background-color: #0d6efd;
    color:#FFF;
    border:none;
    text-decoration: none;
    padding:8px 12px;
    border-radius:12px;
}

.modify-inlist:hover{
    background-color: #0b5ed7;
    transition-duration: 0.4s;
}

.delete-inlist{
    background-color: #dc3545;
    color:#FFF;
    padding:8px 12px;
    border-radius:12px;
    border:none;
}

.delete-inlist:hover{
    background-color: #C82333;
    transition-duration: 0.4s;
    cursor: pointer;
}

.details-inlist{
    background-color: #28a745;
    color:#FFF;
    text-decoration: none;
    padding:8px 12px;
    border-radius:12px;
}

.details-inlist:hover{
    background-color: #218838;
    transition-duration: 0.4s;
}

.aligner{
    display: contents;
}

/* ------------- pop up --------------- */

.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.button {
    font-size: 1em;
    padding: 10px;
    color: #fff;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
}
.button:hover {
    background: #06D85F;
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}