#projects-tab{
    font-family: Arial, sans-serif;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


#projects-tab thead tr{
    font-size:1.2em;
    font-weight: bold;
    text-align: left;
    color:#FFF;
    background-color: #343334;
}

#projects-tab th, #projects-tab td{
    padding: 12px 15px;
}

#projects-tab tbody tr{
    border-bottom: 1px solid #dddddd;
}

#projects-tab tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#projects-tab tbody tr:last-of-type {
    border-bottom: 2px solid #343334;
}

/*Styles pour les boutons*/

.modify-inlist{
    background-color: #0d6efd;
    color:#FFF;
    border:none;
    text-decoration: none;
    padding:8px 12px;
    border-radius:12px;
}

.modify-inlist:hover{
    background-color: #0b5ed7;
    transition-duration: 0.4s;
}

.delete-inlist{
    background-color: #dc3545;
    color:#FFF;
    padding:8px 12px;
    border-radius:12px;
    border:none;
}

.delete-inlist:hover{
    background-color: #C82333;
    transition-duration: 0.4s;
    cursor: pointer;
}

.details-inlist{
    background-color: #28a745;
    color:#FFF;
    text-decoration: none;
    padding:8px 12px;
    border-radius:12px;
}

.details-inlist:hover{
    background-color: #218838;
    transition-duration: 0.4s;
}

.aligner{
    display: contents;
}